footer.container.py-5 
    .row
        .col-md-6
            nav.nav.footer.justify-content-center.justify-content-md-start 
                a.nav-link.mx-2(href="/nosotros") Nosotros
                a.nav-link.mx-2(href="/viajes") Viajes
                a.nav-link.mx-2(href="/testimoniales") Testimoniales

        .col
            p.copyright.text-center.text-md-right 
                | Todos los derechos reservados 
                span= actualYear